#main-page-visible{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(241, 241, 241);
    height: 175vh;
    opacity:1;
    transition: opacity 0.5s;
}

#main-page-invisible{
    opacity:0;
}

#main-page-presentation-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 58vh;
    background-color: rgb(31, 31, 31);

}

#main-page-presentation-button-cont{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#main-page-title-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 28vw;
    height: 25vh;
    border-radius: 50px;
    box-sizing: border-box;
    gap: 20px;
}

#main-page-presentation-cont-upper{
    letter-spacing: 0.2rem;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(123, 123, 123);
}

#main-page-presentation-cont-lower{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

#main-cat-pic{
    border-radius: 50px;
    height: 43vh;
    width: 34vw;
    border: 5px solid white;
    object-fit: cover;
}

#shop-now-but{
    display: flex;
    background-color: rgb(31, 31, 31);
    border-radius: 50px;
    height: 8.5vh;
    width: 17vw;
    font-size: 38px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: transform 0.15s ease-in-out 0s;
    border: 5px solid rgb(255, 255, 255);
}

#description-cont{
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    align-items: center;
    width: 100vw;
    height: 55vh;
    gap: 60px;
    /* background-color: rgb(235, 235, 235); */
    background-color: inherit;
}

#description-title-cont{
    font-size: 34px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

#info-cont{
    display:flex;
    flex-direction: row;
    gap:33px;
    font-size: 20px;
    color: rgb(31, 31, 31);
}

.info-card{
    display:flex;
    font-size: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 78px;
    align-items: center;
    height: 38vh;
    width: 17vw;
    box-sizing: border-box;
    gap: 25px;
}

.cat-info-img{
    border: 2px solid rgb(109, 109, 109);
    border-radius: 25px;
    display: flex;
    width: 11.5vw;
    height: 24.5vh;
    object-fit: cover;
}

#phrase-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 45vh;
    gap: 40px;
    background-color: rgb(214, 214, 214);
    font-size: 33px;
    font-style: italic;
}

#text-cont{
    height: 10vh;
    width: 83vw;
    display: flex;
}

#author-cont{
    margin-left: 50vw;
    display: flex;
    font-weight: bolder;
}