#footer-cont{
    display: flex;
    height: 6vh;
    width: 100vw;
    color:rgb(87, 87, 87);
    font-size: 18px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    overflow: hidden;
    gap: 15px;
  }
  
  #footer-img{
    height: 4vh;
    width: 2vw;
    transition: 0.2s;

  }
  
  #footer-img:hover{
    transform: scale(1.17);
  }